.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-radius: 61px;
  box-shadow: 0px 3px 18.1px 0px rgba(91, 123, 193, 0.29);
  padding: 8px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  background-color: var(--light-gray-1);
}

.container:hover,
.container:focus-within {
  box-shadow: 0px 3px 35.8px 0px rgba(91, 123, 193, 0.29);
}

.container:focus-within {
  border: 1px solid var(--secondary-teal);
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  width: 100%;
  font-size: 14px;
  border: none;
  background: transparent;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.inputAdornment {
  display: flex;
  align-items: center;
  justify-content: center;
}
