.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  width: var(--sidebar-width);
  position: fixed;
  top: calc(50% + var(--header-height));
  transform: translateY(-50%);
}
