.skeleton {
  display: inline-block;
  background-color: var(--light-gray-3);
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: var(--light-gray-2);
  }
  50% {
    background-color: var(--light-gray-3);
  }
  100% {
    background-color: var(--light-gray-2);
  }
}
