.container {
  position: relative;
}

.container button {
  font-size: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin-top: 12px;
  transition: opacity 0.3s ease;
  opacity: 0;
  max-height: 0;
  width: 200px;
}

.open .dropdownMenu {
  opacity: 1;
  max-height: 1000px;
}

.open button {
  background-color: #ffe7ee;
}

.dropdownList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #00bfc114;
  border-bottom: 1px solid var(--secondary-teal);
}

.selected {
  display: inline-block;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: 100px;
}
