.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid var(--light-gray-2);
}

.active {
  color: var(--secondary-pink);
  font-weight: 700;
}

.item:hover {
  color: var(--secondary-pink);
}

.subHeader {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-navy);
  margin: 0;
  padding: 0;
}
