.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header button svg {
  width: 20px;
  height: 20px;
}

.header h1 {
  margin: 0;
  padding: 0;
  color: var(--dark-navy);
}

.content {
  max-width: 874px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content p {
  color: var(--dark-navy);
}

.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.author span {
  color: var(--dark-navy);
}
.author time {
  font-weight: 400;
  color: var(--dark-gray-1);
}

.image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 16px;
}

.divider {
  max-width: 874px;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray-3);
  margin: 16px auto;
}

.latestPostsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
